* {
	padding: 0px;
	margin: 0px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.App {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Nav {
	display: flex;

	list-style-type: none;
	align-items: center;
	justify-content: space-around;
}
